@font-face {
    font-family: arial;
    src: url(./Fonts/Arialn.ttf);
    src: url(./Fonts/ArialTh.ttf);
    src: url(./Fonts/ARIBL0.ttf);
}

@font-face {
    font-family: Helvetica;
    src: url(./Fonts/Helvetica\ Neue\ LTW0697BlkCnObl.ttf);
    src: url(./Fonts/Helvetica\ Neue\ Medium\ Extended.ttf);
    src: url(./Fonts/Helvetica\ Neue\ UltraLight.ttf);
    src: url(./Fonts/Helvetica\ Neue\ W01\ 66\ Medium\ It.ttf);
    src: url(./Fonts/Helvetica\ Neue\ W01\ 77\ Bd\ Cn\ Obl.ttf);
    src: url(./Fonts/Helvetica\ Neue\ W01\ 87\ Hv\ Cn\ Obl.ttf);
    src: url(./Fonts/Helvetica\ NeueLTW0693BlkExtObl.ttf);
}

.font-Helvetica {
    font-family: 'Helvetica Neue', sans-serif;
}

.font-Roboto {
    font-family: 'Roboto', sans-serif;
}

.font-Roboto_Condensed {
    font-family: 'Roboto Condensed', sans-serif;
}

.font-Arial {
    font-family: 'arial', sans-serif;
}

.font-Abril {
    font-family: 'Abril Fatface', cursive;
}

.margin-t-62 {
    margin-top: 62px;
}

.margin-b-60 {
    margin-bottom: 60px;
}


height-155 {
    height: 155px;
}


.width-573 {
    width: 573px;
}




              /*Touch DropDown Start*/

.dropbtn {
  border: none;
  cursor: pointer;
  height: 30px;
    margin-top: 10px;
    margin-right: 10px;
    
}

.color-black{
    color: black;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-c {
  display: none;
  position: absolute;
  background-color: #052962;

      margin-left: -55px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-c a {
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}





 /*Touch DropDown End*/









.set input::placeholder {
    color: #F25705;
    font-size: 12px;

}

.padding-left-29 {
    padding-left: 29px;
}

.set input {
    border-color: #bdccbc;
}

.svg-setting {
    width: 14px;
    height: 15px;
    color: #F25705;
    position: relative;
    top: 2px;
    right: 96%;
}

.svg1-setting {
    width: 12px;
    height: 12px;
    margin-left: 3px;
}

.svg2-setting {
    width: 17px;
    height: 12px;
}

.svg3-setting {
    width: 15px;
    height: 13px;
    color: rgba(244, 29, 71, 1);
    position: relative;
    top: 2px;
    left: 2px;
}

.svg4-setting {
    width: 16px;
    height: 16px;
    color: rgba(255, 255, 255, 1);
    position: relative;
    top: 2px;
    left: 2px;

}

.font-14 {
    font-size: 14px;
}

.font-18 {
    font-size: 18px;
}

.setting {
    width: 30px;
    height: 30px;
    background: #1bb6ea;
    border-radius: 100px;
}

.padding-b-7 {
    padding-bottom: 7px;
}

.border-right {
    border-right: 1px solid;
    height: 11px;
    border-color: #587b7f;
}

.background-blue-dark {
    background-color: #052962;
}

.width-90 {
    width: 90%;
}

.height-41 {
    height: 41px;
}

.m-w-1600 {
    max-width: 1600px;
}

.btn-setting {
    background: transparent;
    border: 0px;
    width: 60px;
    color: white;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    bottom: 1px;
}

.border {
    border: 1px solid #e0dcdc;
}

.border-1 {
    border-top: 2px solid rgba(145, 154, 153, 0.69);
    font-weight: 600;
}

.height-271 {
    height: 271px;
}

.img-border {
    border: 1px solid #919A99;
}

.img-border-double {
    border: 2px solid #919A99;
}

.bg-yellow {
    background-color: #FFDD00;
}

.bg-orange {
    background-color: rgba(246, 145, 59, 0.58);
}

.border-radius-8 {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.height-46 {
    height: 46px;
}

.width-24 {
    width: 24%;
}

.width-100 {
    width: 100%;
}

.text-gray {
    color: rgba(95, 95, 93, .69);
}

.save-20 {
    color: rgba(255, 255, 255, 0.76);
    width: 75px;
    font-size: 14.3px;
    height: 32px;
    background-color: #F41D47;
    position: absolute;
    top: 0px;
    right: 0px;
}

.img-set {
    height: 269px;
}

.img1-set {
    height: 221px;
    width: 139px;
}

.img2-set {
    width: 65px;
    height: 36px;
    position: relative;
    right: 32.5%;
}

.img3-set {
    width: 241px;
    height: 184px;
}

.line-height-19 {
    line-height: 19px;
}

.p-top-3 {
    padding-top: 3px;
}

.max-width {
    max-width: 1600px;
}

.bg-img {
    width: 49%;
    height: 285px;
    background-image: url(./images/cat\ assets2/Mask-Group-17@2x.jpg);
    background-size: cover;
}

.bg-light-red {
    background-color: rgba(242, 87, 5, 1);
}

.btn1-setting {
    border: 0px;
    width: 164px;
    height: 36px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
}

.btn2-setting {
    border: 0px;
    width: 164px;
    height: 36px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.width-92 {
    width: 92%;
}

.bg1-img {
    width: 49%;
    height: 285px;
    background-image: url(./images/cat\ assets2/homepage_relaxing_cat@2x.jpg);
    background-size: cover;
}

.border-bottom-radius {
    border-bottom-right-radius: 6px;
}

.sp1 {
    width: 10.81%;
    height: 50px;
}

.sp2 {
    width: 10.16%;
    height: 54px;
}

.sp3 {
    width: 10.66%;
    height: 42px;
}

.sp4 {
    width: 9.94%;
    height: 37px;
}

.sp5 {
    width: 8.5%;
    height: 35px;
}

.sp6 {
    width: 10.31%;
    height: 60px;
}

.sp7 {
    width: 9%;
    height: 66px;
}

.sp8 {
    width: 9%;
    height: 75px;
}

.width-85 {
    width: 85%;
}

.bg-footer {
    background-image: url(./images/cat\ assets2/footer-paws.jpg);
    background-size: cover;
    height: 390px;
}

.footer {
    background-color: rgba(41, 47, 49, 0.71);
}

.width-30 {
    width: 30%;
}

.height-36 {
    height: 36px;
}

.placeholder input::placeholder {
    font-size: 14px;
    color: black;
    font-weight: 500;
}

.padding-t-6 {
    padding-top: 6px;
}

.width-268 {
    width: 268px;
}

.width-840 {
    width: 840px;
}
.bg-cat-img{
    background-image: url("./images/cat assets2/black-bg-cat.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 370px;
}
.slider{
    background-color: rgba(242, 87, 5, 0.61);
    width: 56px;
    height: 56px;
    position: absolute;
    right: 3%;
    z-index: 10;
}
.slider-1{
    background-color: rgba(242, 87, 5, 0.61);
    width: 56px;
    height: 56px;
    position: absolute;
    left: 3%;
    z-index: 10;
}
.slider svg{
    width: 18.5px;
    height: 32.5px;
    color: white;
}
.slider-1 svg{
    width: 18.5px;
    height: 32.5px;
    color: white;
}
.text-align{
    text-align: left;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 4px;
    cursor: pointer;
}


@media (min-width:0px) and (max-width:640px) {
    .slider{
        background-color: rgba(242, 87, 5, 0.61);
        width: 56px;
        height: 56px;
        position: absolute;
        right: 3%;
        z-index: 10;
    }
    .slider-1{
        background-color: rgba(242, 87, 5, 0.61);
        width: 56px;
        height: 56px;
        position: absolute;
        left: 3%;
        z-index: 10;
    }
    .w-100-resp{
        width: 100%;
        padding-top: 0px!important;
    }
    .header {
        height: 110px;
    }

    .logo {
        width: 120px;
        height: 105px;
    }
    .bg-cat-img{
        background-image: url("./images/cat\ assets2/Mask-Group-56.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 260px;
    }
    .w-95-resp{
        width: 85%;
    }

    .content-c-resp {
        justify-content: center !important;
        width: 96%;
    }

    .h-73-resp {
        height: 73px;
    }

    .set-resp {
        width: 100%;
        margin-top: 20px;
    }
    .svg-setting-resp{
        width: 14px;
    height: 15px;
    color: #F25705;
        position: relative;
        bottom: 30px;
        left: 10px;
    }
    .width-32-resp{
        width: 60%;
    }
    .width-95-resp{
        width: 98%;
    }
    .column-resp{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .w-f-resp{
        width: 100%;
    }
    .w-f-resp1 {
      width: 100%;
      margin-top: 16px;
    }
    .content-end-resp{
        justify-content: end!important;
        margin-right: 16px;
    }
    .border-r-resp{
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 5px;
    }
    .sp1 {
        width: 47.8%;
        height: 50px;
        margin-top: 30px!important;
    }
    
    .sp2 {
        width: 47.8%;
        height: 54px;
        margin-top: 30px!important;
    }
    
    .sp3 {
        width: 46.59%;
        height: 42px;
        margin-top: 40px!important;
    }
    
    .sp4 {
        width: 44%;
        height: 37px;
        margin-top: 40px!important;
    }
    
    .sp5 {
        width: 43%;
        height: 35px;
        margin-top: 40px!important;
    }
    
    .sp6 {
        width: 43.8%;
        height: 60px;
        margin-top: 30px!important;
    }
    
    .sp7 {
        width: 43%;
        height: 66px;
        margin-top: 40px!important;
    }
    
    .sp8 {
        width: 43.8%;
        height: 75px;
        margin-top: 35px!important;
    }
    .disply-none-resp {
        display: none!important;
    }
    .m-t-resp{
        margin-top: 30px;
    }
    .set-w-resp{
        flex-direction: column!important;
        align-items: center!important;
    }
    .w-full-resp{
        width: 100%!important;
    }
    .w-full-resp-95{
        width: 95%!important;
    }
    .bg-footer-resp{
        background-position: center;
        height: 670px;
    }
    .footer {
        background-color: rgba(41, 47, 49, .91);
    }
}



@media (min-width:641px) and (max-width:768px) {
     
    .slider{
        background-color: rgba(242, 87, 5, 0.61);
        width: 30px;
        height: 30px;
        position: absolute;
        right: 3%;
        z-index: 10;
    }
    .slider-1{
        background-color: rgba(242, 87, 5, 0.61);
        width: 30px;
        height: 30px;
        position: absolute;
        left:3%;
        z-index: 10;
    }
    .slider svg{
        width: 12.5px;
        height: 24.5px;
        color: white;
    }
    .slider-1 svg{
        width: 12.5px;
        height: 24.5px;
        color: white;
    }
    .header {
        height: 110px;
    }

    .logo {
        width: 120px;
        height: 105px;
    }
    .bg-cat-img{
        background-image: url("./images/cat\ assets2/Mask-Group-56.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 320px;
    }

    .content-c-resp {
        justify-content: center !important;
        width: 96%;
    }

    .h-73-resp {
        height: 73px;
    }

    .set-resp {
        width: 100%;
        margin-top: 20px;
    }
    .svg-setting-resp{
        width: 14px;
    height: 15px;
    color: #F25705;
        position: relative;
        bottom: 30px;
        left: 10px;
    }
    .width-32-resp{
        width: 32%;
    }
    .width-95-resp{
        width: 95%;
    }
    .column-resp{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .w-f-resp{
        width: 100%;
    }
    .w-f-resp1 {
      width: 100%;
      margin-top: 16px;
    }
    .content-end-resp{
        justify-content: end!important;
        margin-right: 16px;
    }
    .border-r-resp{
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 5px;
    }
    .sp1 {
        width: 17%;
        height: 50px;
        margin-top: 30px!important;
    }
    
    .sp2 {
        width: 17%;
        height: 54px;
        margin-top: 30px!important;
    }
    
    .sp3 {
        width: 17%;
        height: 42px;
        margin-top: 30px!important;
    }
    
    .sp4 {
        width: 17%;
        height: 37px;
        margin-top: 30px!important;
    }
    
    .sp5 {
        width: 17%;
        height: 35px;
        margin-top: 30px!important;
    }
    
    .sp6 {
        width: 17%;
        height: 60px;
        margin-top: 30px!important;
    }
    
    .sp7 {
        width: 17%;
        height: 66px;
        margin-top: 30px!important;
    }
    
    .sp8 {
        width: 17%;
        height: 75px;
        margin-top: 30px!important;
    }
    .m-t-resp{
        margin-top: 30px;
    }
    .set-w-resp{
        flex-direction: column!important;
        align-items: center!important;
    }
    .w-full-resp{
        width: 100%!important;
    }
    .w-full-resp-95{
        width: 95%!important;
    }
    .bg-footer-resp{
        background-position: center;
        height: 670px;
    }
    .footer {
        background-color: rgba(41, 47, 49, .91);
    }
}

@media (min-width:769px) and (max-width:1023px) {
    .slider{
        background-color: rgba(242, 87, 5, 0.61);
        width: 30px;
        height: 30px;
        position: absolute;
        right: 1%;
        z-index: 10;
    }
    .slider-1{
        background-color: rgba(242, 87, 5, 0.61);
        width: 30px;
        height: 30px;
        position: absolute;
        left:1%;
        z-index: 10;
    }
    .slider svg{
        width: 15.5px;
        height: 28.5px;
        color: white;
    }
    .slider-1 svg{
        width: 15.5px;
        height: 28.5px;
        color: white;
    }
    .header {
        height: 110px;
    }

    .logo {
        width: 120px;
        height: 105px;
    }

    .img2-set {
        right: 25.5%;
    }

    .sd-card {
        width: 96%;
    }

    .svg3-resp {
        position: absolute;
        top: 94%;
        left: 35%;

    }

    .p-l-4-resp {
        padding-left: 4px !important;
    }

    .save-20 {
        width: 52px;
        height: 30px;
        font-size: 12.7px;
    }

    .width-resp {
        width: 97.5%;
    }

    .set-pr-0-resp {
        padding-right: 5px !important;
    }

    .dd-w-resp {
        width: 613px;
    }
}